    /* color schemes 主色票*/
    
    .bg-color-gold {
        background-color: #C0B283 !important;
    }
    
    .bg-color-silk {
        background-color: #DCD0C0 !important;
    }
    
    .bg-color-Paper {
        background-color: #F4F4F4 !important;
    }
    
    .bg-color-charcoal {
        background-color: #373737 !important;
    }
    
    .color-gold {
        color: #C0B283 !important;
    }
    
    .color-silk {
        color: #DCD0C0 !important;
    }
    
    .color-Paper {
        color: #F4F4F4 !important;
    }
    
    .color-charcoal {
        color: #373737 !important;
    }
    
    .border-color-gold {
        border-color: #C0B283 !important;
    }
    
    .border-color-silk {
        border-color: #DCD0C0 !important;
    }
    
    .border-color-Paper {
        border-color: #F4F4F4 !important;
    }
    
    .border-color-charcoal {
        border-color: #373737 !important;
    }
    
    .mycheck {
        /* display: block;
    position: relative; */
        padding-left: 10px;
        /* margin-bottom: 12px; */
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    
    .mycheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    /* On mouse-over, add a grey background color */
    
    .mycheck:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    
    .mycheck input:checked~.checkmark {
        background-color: #2196F3;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    
    .mycheck input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    
    .mycheck .checkmark:after {
        left: 9px;
        top: 3px;
        width: 7px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /*====== do checkbox style. ======*/
    /* Source:https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
    
    body {
        /* font-family: "Lato", sans-serif; */
        font-family: 'Noto Sans TC', sans-serif;
    }
    
    h1,
    h2,
    h3 {
        font-family: 'Noto Serif TC', serif;
    }
    
    div.modal-header {
        background-color: rgb(192, 178, 131);
    }
    
    .modal-body th {
        font-size: 200%;
    }
    
    .modal-body input {
        float: right;
    }
    
    td>input {
        width: 100px;
    }
    
    .login {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* transform: translateY(-50%); */
    }
    
    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        transform: translateX(-100%);
    }
    /*Hide scrollbar.⬇*/
    
    .sidebar_open::-webkit-scrollbar {
        display: none;
    }
    
    .sidebar_open {
        -ms-overflow-style: none;
        transform: translateX(0px) !important;
    }
    /*Hide scrollbar.⬆*/
    
    .sidebar_content>a {
        /* background-color: #373737; */
        color: #F4F4F4;
    }
    /* .no-transition {
        -webkit-transition: height 0.01s;
        -moz-transition: height 0.01s;
        -ms-transition: height 0.01s;
        -o-transition: height 0.01s;
        transition: height 0.01s;
    } */
    
    .sidebar .sidebar_content {
        background-color: rgba(55, 55, 55, 0.95);
        /* opacity: 0.95; */
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
    }
    
    .sidebar .sidebar-head {
        object-fit: cover;
    }
    
    .sidebar a {
        padding: 8px 8px 8px 0px;
        text-decoration: none;
        font-size: 25px;
        color: #F4F4F4;
        display: block;
        transition: 0.3s;
        /* Word-position fixed. */
        word-break: keep-all;
        font-family: 'Noto Serif TC', serif;
        font-weight: 300;
    }
    
    .sidebar a:hover {
        color: #f4f4f4;
        background-color: #C0B283;
        width: 250px;
    }
    
    .closebtn {
        color: #f4f4f4;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }
    
    .sidebar hr {
        border-color: #C0B283;
    }
    /* add collapsible sidebar! (0303, lee) */
    
    .collapse>a {
        background-color: #595959;
        color: #f4f4f4;
    }
    
    .triangle_rotate {
        font-size: 80%;
        text-align: center;
        float: right;
        /* right: 30px; */
        transition: transform 0.5s;
    }
    
    .triangle_title:hover>.triangle_rotate {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    /* (0303, lee) end here. */
    
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #373737;
        color: white !important;
        padding: 10px 15px;
        border: none;
        opacity: 0.5;
        transition: .5s;
    }
    
    .openbtn:hover {
        opacity: 1;
        color: white !important;
    }
    
    .openbtn:hover::after {
        content: " \5c55\958b\9078\55ae";
        /*展開選單unicode*/
    }
    
    .outbtn {
        font-size: 20px;
        position: absolute;
        top: 175px;
        right: 10px;
        cursor: pointer;
        background-color: #C0B283;
        color: #373737;
        /* padding: 10px 15px; */
        border: none;
    }
    
    .sidebar .hello {
        position: absolute;
        top: 175px;
        left: 10px;
        color: #C0B283;
        font-size: 1.5rem;
        /* padding: 8px 8px 8px 32px; */
        word-break: keep-all;
        /* margin-top: 3rem; */
    }
    
    input#pwd,
    input#pwd_check {
        font: small-caption;
        font-size: 16px;
    }
    
    #head {
        transition: margin-left .5s;
        padding: 16px;
        position: fixed;
        transition: 0.5s;
        z-index: 1;
    }
    /* .logout_form {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
} */
    
    footer {
        position: absolute;
        margin-top: 3rem;
        width: 100%;
        height: 4rem;
        background-color: #DCD0C0;
        color: #373737;
        text-align: right;
    }
    
    footer>p {
        font-size: medium;
        margin-right: 10px;
    }
    
    .push_footer {
        min-height: 1024px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }
    /* DESC-ASC button (0227 by hsieh.)*/
    
    .btn-DESC,
    .btn-ASC {
        height: 1.1rem;
        margin: 0;
        background-color: none;
        padding: 0;
        line-height: 1rem;
    }
    
    .data_main_table .btn {
        line-height: 1;
    }
    
    .data_main_table th {
        text-align: center;
    }
    
    tr.dataSQL:hover {
        background-color: #DCD0C0 !important;
    }
    
    .data_main_table td.num {
        text-align: right;
        padding-right: 1rem;
    }
    
    .data_main_table .tags {
        width: 20%;
    }
    
    .data_main_table td.tags {
        text-align: left !important;
    }
    
    .right_btn {
        width: 120px;
        padding: 0;
    }
    /* for creating form for create or edit in products */
    
    #popUp_window {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 87;
        top: 0;
    }
    
    .window_open {
        display: block;
    }
    
    .window_close {
        display: none;
    }
    
    #popUp_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #373737;
        opacity: 0.8;
    }
    
    #popUp_context {
        position: absolute;
        width: 61.8%;
        max-height: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #F4F4F4;
        z-index: 88;
    }
    
    #popUp_context .closebtn {
        color: #373737 !important;
    }
    
    #create_edit_form {
        overflow-Y: scroll;
    }
    
    .hide {
        display: none;
    }
    /* product image default */
    
    img.product-image {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
    /* Login page background. (Lee 0304) */
    
    td {
        /*防塞爆*/
        word-break: break-all;
    }
    
    body.login_bg {
        background: url(image/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: grey;
    }
    
    .login_bg>.card {
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    .card>.welcome {
        text-align: center;
        font-size: 150%;
        font-weight: bolder;
    }